html {
  width: 100%;
  font-family: 'Raleway', serif;
  min-width: 400px;
  margin: auto;
}
#my_passion {
  text-align: center;
}
.slider img {
  display: block;
  margin: 0 auto;
}
.bx-wrapper {
  margin: auto;
}
.navigation {
  width: 100%;
  background-color: #333;
  text-align: center;
}
.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display: inline-block;
}
.navigation li {
  float: left;
}
.navigation  li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

   /* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
   }

  /* This is index.html css */

html #index {
  display: block;
  background: linear-gradient(to right, #c9d6ff ,#e2e2e2);
  max-width: 1200px;
  margin: auto;
  position: relative;
}

#myphoto {
  float: left;
  position: relative;
  margin-left: 5%;
}
#info_list {
  margin-top: 0px;
  margin-left: 5%;
  float: left;
  position: relative;
  text-align: left;
}
#info_list li {
  padding-bottom: 5%;
}
#contact_info {
  text-align: center;
}
#contact_info h1{
  margin-top: 50px;
}
#education {
  margin-left: 5%;
  margin-right: 5%;
  float: left;
  position: relative;
}
#skills {
  margin-left: 5%;
  margin-right: 5%;
  float: left;
  position: relative;
}

/* This is my websites css */

html #my_websites {
  background: linear-gradient(to right, #e0eafc ,#cfdef3);
  max-width: 1200px;
  margin: auto;
  position: relative;
}
#about_me {
  margin-left: 5%;
  margin-right: 5%;
  float: left;
  position: relative;
}
#about_me h3{
  text-align: center;
}
#hardcoded {
  margin-left: 5%;
  margin-right: 5%;
  float: left;
  position: relative;
}
#hardcoded h2{
  text-align: center;
}
#wix {
  margin-left: 5%;
  margin-right: 5%;
  float: left;
  position: relative;
}
#wix h2{
  text-align: center;
}

/* This is my programs css */

html #my_programs {
  background: linear-gradient(to right, #d3cce3 ,#e9e4f0);
  max-width: 1200px;
  margin: auto;
  position: relative;
}
#about_me {
  margin-left: 5%;
  margin-right: 5%;
  float: left;
  position: relative;
}
#about_me h3{
  text-align: center;
}
#cafe_program {
  margin-left: 5%;
  margin-right: 5%;
  float: left;
  position: relative;
}
#cafe_program h2{
  text-align: center;
}
#java_program {
  margin-left: 5%;
  margin-right: 5%;
  float: left;
  position: relative;
}
#java_program h2{
  text-align: center;
}

  /* css for screenshots */

.screenshot {
  position: relative;
  box-sizing: border-box;
  display: inline-block;

  width: 47%;
  margin: 1% ;
  text-align: center;
}
@media screen and (max-width: 1060px) {
.screenshot {
  width: 100%;
}
@media screen and (max-width: 400px) {
.navigation li {
  width: 100%;
  }
}
