
body {
  background: linear-gradient(to right, #d3cce3 ,#e9e4f0);
}

#about_me {
  margin-left: 2%;
  margin-right: 2%;
}

#about_me h3{
  text-align: center;
}

#cafe_program {
  margin-left: 2%;
  margin-right: 2%;
}

#cafe_program h2{
  text-align: center;
}

#java_program {
  margin-left: 2%;
  margin-right: 2%;
}

#java_program h2{
  text-align: center;
}

.screenshot {
  box-sizing: border-box;
  display: inline-block;
  width: 47%;
  margin: 1% ;
  text-align: center;
}

@media screen and (max-width: 960px) {
.screenshot {
  width: 100%;
}
}
