body {
  background: linear-gradient(to right, #e0eafc ,#cfdef3);
}
#about_me {
  margin-left: 2%;
  margin-right: 2%;
}

#about_me h3{
  text-align: center;
}

#hardcoded {
  margin-left: 2%;
  margin-right: 2%;
}

#hardcoded h2{
  text-align: center;
}

#wix {
  margin-left: 2%;
  margin-right: 2%;
}

#wix h2{
  text-align: center;
}

.screenshot {
  box-sizing: border-box;
  display: inline-block;
  width: 47%;
  margin: 1% ;
  text-align: center;
}

@media screen and (max-width: 960px) {
.screenshot {
  width: 100%;
}
}
